

.container-fluid{
    background-color:#ffffff;
    align:center;
    outline: solid thin #1e1f11;
	align:middle;
	text-align:center;
    margin:1px;
	padding:20px;
	background-image: linear-gradient(to right bottom, #a0a2f4, #e28ac5, #ef8486, #d19456, #97a452);
}

 
marquee:hover{
     transform:scaleX(-1);
}

.rounded-circle {
    border-radius: 50%!important;
}


img:hover {
    -webkit-transform: scaleX(1.1);
    transform: scale(1.1);
	padding:5px;
	margin:8px;
}


.container-fluid  i{
	 background-color:#DCE3ED;
	 height: 50px;
	 width: 50px;
	 border-radius:5px;
	 padding-top:4px;
	 padding-left:2px;
	 padding-right:2px;
	 text-align:center;
}

.container-fluid  i:hover{
	 background-color:#ffffff;
	 outline: solid thin #1e1f11;
}

.jumbotron{
	text-align:center;

}

.jumbotron:hover{
	transform: scaleY(1.1);
	background-image: linear-gradient(to right bottom, #6266c8, #6c5cb8, #7252a8, #754999, #764089);
    border-radius: 5px;
	color:white;
}


h2 {
    font-family: 'Bilbo Swash Caps';font-size: 22px;
    position: absolute; 
    left: 40px;
    text-decoration: none;
    color: red;  
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.modal-header{
	background-image: linear-gradient(to bottom, #e6ebe6, #e9efee, #eff3f4, #f6f7f8, #fbfbfb);
}

.modal-body{
	background-image: linear-gradient(to bottom, #e6ebe6, #e9efee, #eff3f4, #f6f7f8, #fbfbfb);
	outline:none;
}

.modal-footer{
	background-image: linear-gradient(to bottom, #e6ebe6, #e9efee, #eff3f4, #f6f7f8, #fbfbfb);
}

.modal {
  top: 50%;
  left: 50%;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  0% {transform: scale(1);}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.15) scaleY(0.85);}
  100% {transform: scale(1);}
}
.rubberBand {
  animation-name: rubberBand;
}

